body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5PX;
    padding: 2PX;
    background-color: #f4f4f4;
}

header {
    background-color: #ccc;
    color: #7e6969;
    padding: 10px 0;
    text-align: center;
}



section {
    background-color: #fff;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

button, select {
    margin-bottom: 10px;
    padding: 2px;
    font-size: 15px;
}

.results {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#tablaResultado img {
    max-width: 30px; 
    height: auto; 
    margin-right: 5px; 
}

@media screen and (max-width: 800px) {
    section {
        margin: 10px;
        padding: 15px;
    }

    button, select {
        max-width: none; 

    .results {
        padding: 15px;
    }
}
}